@{
    ViewBag.Title = "About";
}

<h2>
    About this page project 
</h2>
<div>
    <p>
        The objective is to find a away to share job openings easily between all their locations ascross the United States. The system needed to allow managers to post openings while also allowing employees to create an account, upload a resume, and simply apply for open positions. Manager should be able to view applications for their location and employees should be able to view the status of their applications.<br /><br />This is an internal application, so the website is open to any branding and template options available.<br /><br />The employee base is comprised largely of Millennials or younger whi are very tech savvy and typically interact with online media via smart phones thus the website must look good and function well on mobile devices.
    </p>
</div>