@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbo">
    <h1>Job Board</h1>
    <p class="lead" stlye="">This is an internal job board for a philanthropic technology company that offers free technology development to other nonprofits. They ensure places that offer help to other people, our environment or animals have the best software to be more effective.</p>
    <p><a href="@Url.Action("About","Home")">About &raquo;</a></p>
</div>
