@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbo">
    <h1>Job Board</h1>
    <p class="lead" stlye="">This is an internal job board for a philanthropic technology company that offers free technology development to other nonprofits. They ensure places that offer help to other people, our environment or animals have the best software to be more effective.</p>
    <p><a href="@Url.Action("About","Home")">About &raquo;</a></p>
</div>
<div><h2>A few charties we have had the honor to help</h2></div>
<div class="row">
    <ul class="col-md-4">
        <li><a href="https://www.unbound.org/">Unbound</a></li>
        <li><a href="https://water.org">Water.org</a></li>
        <li><a href="https://americanhumane.org/">American Humane</a></li>
        <li><a href="https://petsmartcharities.org/">PetSmart Charities</a></li>
        <li><a href="https://secure.wcs.org/donate/donate-and-fight-save-wildlife?ms=M_SEM_DON_03_F06_stg-evrgr-1tm-ndn--&utm_source=bing&utm_medium=cpc&utm_campaign=stg-evrgr-1tm-ndn_403680732&utm_term=_1332608682217986&utm_content=_&msclkid=8719146568771a28242b4bad26133b21">Wildlife Conservation Society</a></li>
        <li><a href="https://hispanicfederation.org/">Hispanic Federation</a></li>
        <li><a href="https://www.toysfortots.org">Marine Toys for Tots Foundation</a></li>
        <li><a href="#">Prevent Child Abuse America</a></li>
        <li><a href="#">Ronald McDonald House Charities</a></li>
        <li><a href="#">Earthworks</a></li>
        <li><a href="#">World Resources Institute</a></li>
        <li><a href="#">American Kidney Fund</a></li>
        <li><a href="#">Children's Health Fund</a></li>
        <li><a href="#">Lupus Research Alliance</a></li>
        <li><a href="#">National Hemophilia Foundation</a></li>
    </ul>
    <ul class="col-md-4">
        <li><a href="#">Guide Dog Foundation for the Blind</a></li>
        <li><a href="#">Hearing Health Foundation</a></li>
        <li><a href="#">Helen Keller International</a></li>
        <li><a href="#">National Federation of the Blind</a></li>
        <li><a href="#">Prevent Blindness</a></li>
        <li><a href="#">Breast Cancer Research Foundation</a></li>
        <li><a href="#">Cancer Research Institute</a></li>
        <li><a href="#">National Pediatric Cancer Foundation</a></li>
        <li><a href="#">Ovarian Cancer Research Alliance</a></li>
        <li><a href="#">Prevent Cancer Foundation</a></li>
        <li><a href="#">Sierra Club Foundation</a></li>
        <li><a href="#">Catholic Relief Services</a></li>
        <li><a href="#">International Medical Corps</a></li>
        <li><a href="#">International Rescue Committee</a></li>
        <li><a href="#">Rotary Foundation of Rotary</a></li>
    </ul>
    <ul class="col-md-4">
        <li><a href="#">United Methodist Committee on Relief</a></li>
        <li><a href="#">The Arc of the United States</a></li>
        <li><a href="#">Brain & Behavior Research Foundation</a></li>
        <li><a href="#">National Alliance on Mental Illness</a></li>
        <li><a href="#">Homes for Our Troops</a></li>
        <li><a href="#">National Military Family Association</a></li>
        <li><a href="#">Operation Homefront</a></li>
        <li><a href="#">Wounded Warriors Family Support</a></li>
        <li><a href="#">Boys & Girls Clubs of America</a></li>
        <li><a href="#">Girls Inc.</a></li>
        <li><a href="#">National 4-H Council</a></li>
        <li><a href="https://scholarshipamerica.org">Scholarship America</a></li>
        <li><a href="https://preventchildabuse.org">Prevent Child Abuse America</a></li>
        <li><a href="https://www.crisistextline.org">Crisis Text Line</a></li>       
        <li><a href="https://www.mhanational.org">Mental Health America</a></li>
    </ul>
</div>