/* your styles go here */

#dailog {
    background-color: white;
    border: 5px solid black;
    border-radius: 0px;
}

#logosize {
    padding: 0px;
    margin: 0px;
    max-height: 64px;
}

#jumbo {
    border-radius: 0px;
}

.row {
    margin-left: 0px;
}

.minHi {
    min-height: 600px;
}

@media screen and (max-width: 769px) {
    #logosize {
        display: inline-block;
        max-width: 103px;
        max-height: 43px;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    body {
        box-sizing: content-box;
    }
}

@media screen and (max-width: 400px) {
    .hideMobile {
        display: none;
    }
}